:root {
    --dark-o: rgb(45,45,60);
    --dark-oo:rgb(35,35,50);
    --dark-ooo: rgb(55,55,70);
    --blue-o :#1da1f2;
}

* {
    box-sizing: border-box;
    padding: 0;
    line-height: 1.6rem;
}
html,
body { 
    width: 100%;
}

body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

img {
    max-width: 100%;
    height: auto;
}

h4 {
    margin: auto;
}
.blue-o {
    background-color: var(--blue-o);
}
.dark-o {
    background-color: var(--dark-o);
}

.dark-oo{
    background-color: var(--dark-oo);
}
.dark-ooo {
    background-color: var(--dark-ooo);
}

.t-dark {
    color: var(--dark-o);
}
.t-white {
    color: var(--white-o, #efefef);
}
.t-blue {
    color: var(--blue-o);
}

.radio {
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.radio-list {
    width: 50%;
    padding: 2rem;
   
}

.radio-list form {
    width: 100%;
}
.radio-list form input{
    width: 100%;
    padding: 0.75rem;
    background: transparent;
    border: transparent;
}
.radio-list form input:focus{
    border: 2px solid var(--blue-o);
}

.active {
    color: var(--blue-o);
    border-left: 5px solid var(--blue-o);
}

.list-station {
   display: grid;
   grid-template-rows: repeat(2, 1fr);
   height: 85vh;
    overflow-y: auto;
}
.list-station::-webkit-scrollbar {
    width: 7px;
}
.list-station::-webkit-scrollbar-thumb {
    background-color: var(--dark-o);
    border-radius: 00.5rem;
}

.station {
    margin: 5px;
    display: flex;
    position: relative;
    /* justify-content: space-between;
    align-items: center; */
    border-bottom: 1px solid var(--dark-o);
    cursor: pointer;
    transition: 0.34s;
    /* height: 70px; */
    padding: 0.5rem 1rem !important;
}
.station:hover {
    border-left: 5px solid var(--blue-o);
}
.station span {
    color: var(--blue-o);
}
.station img {
    width: 60px;
    height: 60px;
    border-radius: 0.3rem;
}
.station .content {
    margin-left: 10px;
}
.station .control {
   position: absolute;
   top: 15px;
   right: 5px;
}

.radio-player {
    padding: 1rem 2rem;
    width: 50%;
    text-align: center;
   
}
.player {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
}
.title {
    padding: 00.55rem 1rem;
    border-radius: 00.55rem;
}
.screen {
    height: 57vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin: 1rem;
}

.screen img {
    width: 50%;
    height: 50%;
}

.controls {
    min-width: 40%;;
    width: auto;
    padding: 1rem;
    border-radius: 00.55rem;
    margin: 0.5rem auto;
    display: flex;
    justify-content: space-between;
}
.control {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 1rem;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.control:hover {
    color: var(--blue-o);
}

.seek-slider {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 50%;
    height: 7px;
    border-radius: 10px;
    background: #e3e3e391;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.seek-slider::-moz-range-thumb,
.seek-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background: var(--blue-o);
  cursor: pointer;
}


